{% extends 'base.html.twig' %}

{% block title %}Compte-Propriétaire-add{% endblock %}

{% block content %}
  <div class="mb-3 w-50">
    {{ form_start(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
