{% extends 'base.html.twig' %}

{% block title %}Voitures - Carsen Automobile{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <h3>Filtrer</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-9">
            <h3> Nos - Vehicules</h3>
            <div class="row voiture-container">
                {% for voiture in voitures %}
                    <div class="col-md-4 g-2">
                        {%  include 'voiture/single_voiture.html.twig'%}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
